main{
    grid-area: prin;
    border: purple solid 2px;
    width: 110%;
}
header{
    grid-area: cabe;
    background-color: rgb(38, 162, 219);
    width: 110%;
}
footer{
    grid-area: roda;
    background-color: rgb(38, 162, 219);
    width: 110%;
}
:root{
    --cor_fundo: rgb(41, 181, 206);
    --cor_botao: rgb(204, 238, 252);
 }
 *{
    margin: 0%;
    padding: 0%;
 }
body{
    display: grid;
    grid-template-areas:
    " cabe cabe cabe "
    " prin prin prin "
    " roda roda roda ";
    grid-template-columns: 180px auto;
    grid-template-rows: 210px auto 200px;
    background-color: var(--cor_fundo);
    border: var(--cor_borda) solid 2px;
 
}
.caixa{
    background-color: var(--cor_botao);
}
div ul{
    display: inline;
    position: absolute;
    align-items: center;
    margin-top: 4.5%;
    margin-left: 55%;
 }
 
.logo{
    width: auto;
    height: 120px;
    padding: 6px;
    border-radius: 30px;
}